/* Common Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img{
    width: 100%;
    height: auto;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1{
    font-size: 50px;
    line-height: 2em;
}
h3{
    margin: 20px 0px;
}

p{
    font-size: 16px;
    font-weight: normal;
    color: #696981;
    margin: 0px 0px 20px 0px;
}

a{
    padding: 10px 30px;
    background-image: linear-gradient(to right, #ff9671, #ff7052);
    border-radius: 5px;
    font-weight: bold;

    text-decoration: none;
    color: aliceblue;
}
/* Header Css */
header{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: contain;


    display: flex;
    justify-content: space-around;
}
header > *{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.header-text-part{
    width: 50%;
    margin: 60px 100px ;
    padding: 10px;
}
span{
    color: #ffaf1d;
}

.header-image{
    padding-top: 40px;
    margin-right: 30px;
}
/* 2nd Part  */

#middle-part{
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 90%;
    
    margin: 30px;
    
    display: flex;
    justify-content: space-around;

}

 #middle-part > *{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
} 

.body-img{
    width: 50%;
    
}
.body-text{
    width: 50%;
    margin-left: 50px ;
    padding: 30px 10px 10px 25px;
    
}

/* Experiences Area */
#Experiences-area{
    margin: 10% 0%;


    background: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 50%;
}

.experiences-container{
    display: flex;
    justify-content: space-around;
}

.experiences-box h1{
    font-size: 35px;
}

.experiences-box h3{
    color: #ffaf1d;
}



.experiences-box{
    padding: 10px 20px;
    width: 40%;
    box-shadow: 10px 10px 30px gray;
}

.border-color-2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

.border-color-1{
    border-left: 7px solid #ff9a75;
    border-image-slice: 1;
}

/* Footer Part */

.footer{
    margin: 10px 0px;
    color: gray;
    text-align: center;
}
